@using WearAndShare.Models
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}
<script>
    var obj = document.querySelector(".navlist li:nth-child(1)");
    obj.classList.remove("active");
</script>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
              <h4>Giỏ hàng</h4>
                     <div class="breadcrumb__links">
                         <a href="~/Home/Index">Trang chủ</a>
                         <a href="./shop.html">Cửa hàng</a>
                         <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
                {
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                             <th>Sản phẩm</th>
                                     <th>Số lượng</th>
                                     <th>Tổng</th>
                                     <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src=@Url.Content(""+i.ImageItem) width="20%">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <a href="@Url.Action("ShopDetail","Shop",new { id = i.IdItem})"><h6>@i.NameItem</h6></a>
                                                <h5>@String.Format("{0:0,0} Usd", i.PriceItem)</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    @Html.Hidden("quanlity", 1)
                                                    1
                                                    @*<input type="text" name="quanlity" value="@i.Quantity">*@
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">@String.Format("{0:0,0} Usd", i.PriceTotal)</td>
                                        <td class="cart__close"><a href="@Url.Action("DeteteCart","Cart", new { id = i.IdItem})"><i class="fa fa-close"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                    <a href="~/Shop/ProductList">Tiếp tục mua sắm</a>
                             </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6">
                             <div class="contintuc__btn update__btn">
                                 <button type="submit"><i class="fa fa-spinner"></i> Cập nhật giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>@String.Format("{0:0,0} Usd", ViewBag.totalPrice)</span></li>
                    </ul>
                    <a href="@Url.Action("Checkout","Cart")" class="primary-btn">Tiến hành thanh toán</a>
                    @*@if (Session["info"] != null)
                    {
                        <a href="@Url.Action("Checkout","Cart")" class="primary-btn">Tiến hành thanh toán</a>
                    }
                    else
                    {
                        <a href="@Url.Action("CheckoutNoAccount","Cart")" class="primary-btn">Tiến hành thanh toán</a>
                    }*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
